$label-text-color: #002C87;
$field-height: 50px;

$underline-color: rgba(0,44,135,0.15);
$placeholder-color: rgba(32,171,250,0.42);

:local(.label) {
  display: block;
  font-family: 'Muli', sans-serif;
  color: $label-text-color;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 10px;

  &::after {
    content: ":"
  }
}

:local(.input) {
  display: flex;
  color: #002C87;
  border: 1px solid #002C87;
  flex-direction: column;
  padding-left: 14px;
  font-family: 'Muli', sans-serif;
  font-size: 28px;
  width: 750px;
  height: 50px;

  &:focus {
    border: 1px solid #002C87;
    outline: none;
  }

  &::placeholder {
    content: 'Fish';
    color: $placeholder-color;
  }
}