$container-color: #ffffff;

.container {
  width: 100%;
  background-color: $container-color;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;
}

.spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: scale(0.5, 0.5) translate(-50%, -50%);
}