@import '../../../generic/Button/Button';
@import '../../../shared';

:local(.saveButton) {
  @include button(#ffffff, #002c87, 40px);
  width: 200px;
}

:local(.cancelButton) {
  @include button(#002C87, #ffffff, 40px);
  @include button-border(#002c87, 1px);
  width: 200px;
  margin: 0 20px;
}

:local(.addRequirement) {
  width: 300px;
}

:local(.list) {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

:local(.label) {
  @include font();
  font-size: 13px;
  margin-bottom: 10px !important;
}

:local(.section) {
  font-size: 16px;
  font-weight: 100;
}

:local(.qualityStandard) {
  width: 420px;
  margin-bottom: 20px;
}