@import '../../shared';

$underline-color: rgba(0,44,135,0.15);
$placeholder-color: rgba(32,171,250,0.42);
$field-name-color: rgba(0,44,135,0.4);

:local(.label) {
  font-family: 'Muli', sans-serif;
  color: $field-name-color;
  font-size: 13px;
  padding-right: 10px;

  &::after {
    content: ":"
  }
}

:local(.textField) {
  @include font();
  font-size: 15px;
  outline: none;
  background-color: transparent;
  border: 0 none;
  border-bottom: 1px solid $underline-color;
  padding: 3px 3px;

  &:focus {
    @include border-focus();
  }

  &::placeholder {
    content: 'Fish';
    color: $placeholder-color;
  }
}