@import '../../../stateless/Button/Button.scss';
@import '../../../stateless/shared.scss';

:root {
  @include font();
}

:local(.container) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

:local(.column) {
  display: flex;
  height: 100vh;
  padding: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  border-left: 1px solid rgba(0,44,135,0.1);
}

:local(.requirementsColumn) {
  flex: 1;
}

:local(.typeColumn) {
  flex: 2;
}

:local(.summaryColumn) {
  flex: 1;
  border: 0;
  background-color: rgba(32,171,250,0.2);
}

:local(.title) {
  font-weight: 100;
  font-size: 28px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 20px;
}

:local(.image) {
  object-fit: cover;
  display: inline-block;
}

:local(.requirements) {
  margin: 40px auto 0 auto;
}