@mixin font() {
  -webkit-font-smoothing: antialiased;
  font-family: 'Muli', sans-serif;
  color: #002c87;
  font-size: 15px;
  font-weight: 100;
}

@mixin font-semi() {
  @include font();
}

@mixin link() {
  color: #20ABFA;
  text-decoration: none;
}

@mixin border-focus() {
  color: #F8C600;
}