$container-shadow: rgba(0, 0, 0, 0.15);
$product-name-color: #000;
$product-seller-color: #000;
$product-title-color: #cea400;
$buy-button-border: #efc518;
$buy-button-text-color: #9d9d9d;
$more-details-border: #e0e0e0;
$more-details-color: #9d9d9d;

.product {
  position: relative;
  width: 263px;
  border-radius: 2px;
  background: white;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 0 10px -2px $container-shadow, 0 0 10px -2px $container-shadow;
  float: left;

  &__icon {
    margin-right: 6px;
    font-size: 20px;
    vertical-align: -4px;
  }

  &__info {
    padding: 13px 20px 20px 20px;
  }

  &__more-details-button {
    border: 1px solid $more-details-border;
    padding: 0 14px;
    line-height: 37px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 115px;
    float: left;
    font-size: 15px;
    border-radius: 2px;
    color: $more-details-color;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-weight: 400;

    &:hover {
      cursor: pointer;
    }
  }

  &__buy-button {

    border: 1px solid $buy-button-border;
    background: #f8c600;
    padding: 0 15px;
    line-height: 37px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 98px;
    float: right;
    font-size: 15px;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }
  }

  &__name {
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    background: white;
    border-radius: 0 3px 3px 0;
    font-size: 12px;
    padding: 4.5px 11px;
    color: $product-title-color;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
  }

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 0 14px 0;
    color: #0d0e04;
    font-family: 'Muli', sans-serif;
    font-size: 22px;
    font-weight: 400;
  }

  &__span {
    color: #0d0e04;
    font-size: 15px;
    display: block;
    text-align: right;
    flex-basis: 50%;
    margin-bottom: 13px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;

    &--gray {
      color: #9d9d9d;
      font-size: 13px;
      display: block;
      text-align: left;
      flex-basis: 50%;
      margin-bottom: 13px;
      font-family: 'Muli', sans-serif;
      font-weight: 400;
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}