$container-color: #f9f9f9;

.container {
  width: 100%;
  background-color: $container-color;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100vh;
}