$container-color: #ffffff;

.container {

  &:before {
    content: "";
    position: relative;
    left: 0;
    top: 0;
    height: 10px;
    width: 95%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }

  width: 100%;
  background-color: $container-color;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;
}