.container {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100vh;
}

.spinner {
  display: block;
  margin: 0 auto;
}