@import '../../../shared';

:local(.header) {
  @include font();
  display: flex;
  flex-direction: row;
  margin-bottom: 23px;
}

:local(.icon) {
  position: relative;
  padding-right: 10px;
  top: 5px;
}

:local(.arrow) {
  position: absolute;
  left: 8px;
  top: 9px;
}

:local(.arrowRotated) {
  transform: rotate(180deg);
  position: absolute;
  left: 8px;
  top: 11px;
}

:local(.container) {
  margin-bottom: 20px;
}

:local(.title) {
  font-size: 18px;
  line-height: 36px;
}

:local(.date) {
  margin-left: auto;
  opacity: 0.4;
  line-height: 39px;
}

