@import '../Button/Button';

$create-offer-background-color: #f8c600;
$create-offer-border-color: #efc518;
$create-offer-text-color: #ffffff;
$height: 50px;

.navigation {
  display: flex;
  flex-direction: row;
  line-height: $height;
  height: $height;
  background-color: red;
}

.create-offer-button {
  @include button-special($create-offer-background-color,
          $create-offer-border-color,
          $create-offer-text-color,
          $height);
}