$underline-color: rgba(0,44,135,0.15);
$placeholder-color: rgba(32,171,250,0.42);

$value-color: rgba(0,44,135,0.4);
$label-color: #002c87;

:local(.row) {
  display: table-row;
  height: 60px;
}

:local(.label) {
  display: table-cell;
  font-family: 'Muli', sans-serif;
  color: $label-color;
  font-size: 15px;
  padding-right: 46px;

  &::after {
    content: ":"
  }
}

:local(.value) {
  padding-left: 9px;
  display: table-cell;
  width: 127px;
  font-family: 'Muli', sans-serif;
  color: #002C87;
  border: 1px solid #002c87;
  border-radius:2px;
  font-size: 16px;
  height: 40px;
  outline: none;

  &::placeholder {
    content: 'Fish';
    color: $placeholder-color;
  }
}