@import url('https://fonts.googleapis.com/css?family=Muli');
@import './stateless/shared';

:root {
  @include font();
}

.logo {
  display:block;
  width: 200px;
  height: 34px;
  margin-right: auto;
}

.line {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  width: 100%;
}