@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('~simple-line-icons/css/simple-line-icons.css');
@import url('~normalize.css');

.logo {
  display:block;
  width: 200px;
  height: 34px;
  margin-right: auto;
}

.line {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  width: 100%;
}