:local(.container) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65px;
  height: 70px;
  background-color: #f5fafd;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(0, 44, 135, 0.19);
  border-bottom: 0;
}

:local(.icon) {
  background: url('/static/images/blockchain.svg') no-repeat;
  margin: 0 auto;
  width: 26px;
  height: 26px;
}

:local(.scrollableArea) {
  max-height: 400px;
}

:local(.hidden) {
  display: none;
}

:local(.visible) {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  right: -1px;
  top: 70px;
  border: 1px solid rgba(0, 44, 135, 0.19);
  border-bottom: 0;
}