@import '../../../stateless/Button/Button.scss';

.navigation {

  &__cancel-button {
    @include button(#002C87, #ffffff, 40px);
    @include border(#002c87, 1px);
    width: 200px;
    margin: 0 20px;
  }

  &__save-button {
    @include button(#ffffff, #002c87, 40px);
    width: 200px;
  }
}