@import "./../shared";

:local(.button) {
  @include font();
  font-weight: bold;
  background-color: #002C87;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  padding: 0 15px;
  font-size: 15px;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  white-space: nowrap
}

@mixin button($text-color, $background-color, $height) {
  vertical-align: middle;
  background-color: $background-color;
  box-sizing: border-box;
  font-size: 15px;
  color: $text-color;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  white-space: nowrap
}

@mixin button-height($height) {
  line-height: $height;
  height: $height;
}

@mixin button-border($color, $size:0px, $type:solid, $radius:0px) {
  border: $size $type $color;
  border-radius: $radius;
}

.button-icon-default {
  margin-right: 6px;
  font-size: 20px;
  vertical-align: -4px;
}