.product__button--gray {
    border: 1px solid #e0e0e0;
    padding: 0 14px;
    line-height: 37px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 115px;
    float: left;
    font-size: 15px;
    border-radius: 2px;
    color: #9d9d9d;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}
