$page-background-color: #ffffff;

.page-container {
  padding: 25px 45px 0 45px;
  background-color: $page-background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}