@import '../../../generic/Button/Button';
@import '../../../shared';

:local(.saveButton) {
  @include button(#ffffff, #002c87, 40px);
  width: 200px;
}

:local(.cancelButton) {
  @include button(#002C87, #ffffff, 40px);
  @include button-border(#002c87, 1px);
  width: 200px;
  margin: 0 20px;
}

:local(.addStatement) {
  width: 300px;
}

:local(.form) {
  margin-top: 20px;
}

:local(.list) {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

:local(.row) {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

:local(.link) {
  cursor: pointer;
}

:local(.label) {
  @include font();
  font-size: 16px;
  margin-bottom: 10px !important;
}

:local(.section) {
  @include font();
  font-size: 16px;
  font-weight: 100;
}

:local(.selector) {
  color: rgba(0, 44, 135, 1);
  border-radius: 2px;
  border: 1px solid rgba(0, 44, 135, 0.29);
  width: 127px;
  height: 40px;
}

:local(.qualityStandard) {
  width: 420px;
  margin-bottom: 20px;
}